.vs/
*.user
*.userosscache
*.suo
*.cache
*.temp
*.tmp
bin/
obj/
[Ll]og/
*.log
out/
publish/
*.pubxml
*.pubxml.user
**/Resources/Raw/*.a
**/Resources/Raw/*.so
*.DS_Store
Thumbs.db
*.VC.db
*.VC.VC.opendb
packages/
*.nupkg
*.snupkg
.idea/
.vscode/